$yellow: #f9c978;
html,
body {
  width: 100%;
  height: 100%;
  -webkit-tap-highlight-color: transparent;
  background-color: #f1f1f1;

}

* {
  -webkit-appearance: none;
  font-family: "SimSun";
}

input,
button,
select,
textarea {
  outline: none;
  -webkit-appearance: none;
  border-radius: 0;
  border: 0;
}

html {
  font-size: 20px;
  overflow-y: scroll;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  -webkit-text-fill-color: #333;
}

.weui-icon_toast {
  margin: 2rem 0 0.5rem 0;
}

.fade-enter-active {
  transition: all 0.5s ease;
}

.fade-leave-active {
  //position: absolute !important;
  transition: all 0.5s ease;
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

/* 可以设置不同的进入和离开动画 */
/* 设置持续时间和动画函数 */
.slide-fade-enter-active {
  transition: all 0.3s ease;
}

.slide-fade-leave-active {
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter, .slide-fade-leave-to
  /* .slide-fade-leave-active for below version 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}

/*去除input默认样式*/

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.common_main_container {
  width: 100%;
  background-position: 0 0;
  background-size: contain;
  position: relative;

  &:before {
    content: "";
    display: block;
    // height: 1px;
  }
}

.common_loading_wrapper {
  width: 100%;
  height: 100%;
  // background-image: url("./image/bg_1_00000.jpg");
  z-index: 999;
  position: absolute;

  &:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }

  .camera_wrapper {
    display: inline-block;
    width: 100%;
    height: 3rem;
    text-align: center;
    position: relative;
    vertical-align: middle;

    .camera {
      display: inline-block;
      width: 10rem;
      height: 100%;
      position: relative;

      img {
        display: inline-block;
        width: 100%;
      }

      .percentage {
        position: absolute;
        bottom: 1.2rem;
        right: 0.5rem;
        font-size: 0.7rem;
        color: #90281f;
      }
    }
  }

  .playBtn {
    width: 5.625rem;
    position: absolute;
    left: 50%;
    bottom: 21.5%;
    transform: translate(-50%, 0);
  }
}

.common_logo_wrapper {
  width: 100%;
  //position: absolute;
  //bottom: 0.5rem;
  .common_logo_item {
    display: block;
    margin: 0 auto;
    width: 5rem;
    height: 2rem;
    // background-image: url("./image/logo_00000.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
}

.common_header_wrapper {
  //width: 100%;
  height: 2rem;
  z-index: 1;
  color: #000;
  position: relative;
  background-color: #fff;

  .left_wrapper {
    display: inline-block;
    min-width: 12rem;
    height: 100%;
    vertical-align: middle;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;

    .previous {
      display: inline-block;
      width: 2rem;
      height: 100%;
      font-size: 1rem;
      color: #fff;
      text-align: center;
      font-size: 0;
      .van-button{
        height: 100%;
      }
      a {
        display: inline-block;

        &:before {
          content: "";
          display: inline-block;
          height: 2rem;
          vertical-align: middle;
        }

        svg {
          display: inline-block;
          vertical-align: middle;
        }
      }
    }
  }

  .middle_wrapper {
    width: 100%;
    text-align: center;
    font-size: 0.7rem;
    line-height: 2rem;
  }

  .right_wrapper {
    //padding: 0 10px 0 0;
    //width: 300px;=
    //float: right;
    vertical-align: middle;
    //text-align: right;
    .splitline {
      display: inline-block;
      width: 1px;
      height: 25px;
      background-color: #000;
      vertical-align: middle;
    }

    .setting {
      display: inline-block;
      padding: 0 5px;
      color: #666;
      height: 30px;
      vertical-align: middle;

      > span {
        font-size: 20px;
        line-height: 20px;

        span {
          font-size: 30px;
        }
      }
    }

    &:after {
      content: "";
      display: inline-block;
      height: 50px;
      vertical-align: middle;
    }
  }

  .common-useravatar-item {
    float: right;
    margin: 10px;
    position: relative;

    .avatar {
      display: inline-block;
      vertical-align: middle;
      //line-height: 35px;
      overflow: hidden;

      img {
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }
}

.common_input_item {
  width: 100%;
  height: 1.3rem;
  font-size: 0.5rem;
  padding: 0 0.3rem;
  box-sizing: border-box;
  vertical-align: top;
}

.common_button_item {
  display: inline-block;
  border: 0;
  line-height: 1.7rem;
  width: 5rem;
  height: 2rem;
  font-size: 0.7rem;
  padding: 0 0.3rem;
  box-sizing: border-box;
  color: #000;
  //background: red;
  //border-radius: 0.6rem;
  // background-image: url("./image/button_bg_empty_00000.png");
  background-size: contain;
  background-repeat: no-repeat;

  &.active {
    background: #f36619;
  }
}

.common_loading_wrapper {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.common_toast_wrapper {
  .van-toast__text {
    width: 6rem;
  }
}

.common_tabbar_wrapper {
  width: 100%;
  height: 2.3rem;
  background-color: #fff;
  border-top: 1px solid #ccc;
  position: fixed;
  bottom: 0;
  text-align: center;
  ul {
    display: flex;
    height: 100%;
    li {
      display: inline-block;
      flex: 1;
      height: 100%;
 
      a {
        display: inline-block;
        width: 100%;
        height: 100%;
        font-size: 0.6rem;
        &:before {
          content: "";
          display: inline-block;
          width: 0;
          height: 100%;
          vertical-align: middle;
        }
        div {
          display: inline-block;
          vertical-align: middle;

          span {
            display: block;
            width: 100%;
            height: 1rem;
          }
          label {
            display: block;
          }
        }
      }
    }
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
